.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
}
.embla__slide {
    flex: 0 0 200px;
    min-width: 0;
    /* margin: 0 20px; */
}

body {
    background-color: rgb(238, 238, 238);
    --title-color: rgb(34, 34, 34);
    --text-color: rgb(65, 65, 65);
    font-family: sans-serif;
}

/* Header */
header .navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:active,
.navbar-nav .nav-item .nav-link:focus,
.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
    background-color: var(--bs-gray-dark);
}

header .navbar-brand {
    font-size: 1rem;
}

header .navbar-toggler-icon i {
    color: white;
    font-size: 1.3em;
    width: auto;
    height: auto;
}

header nav .navbar-collapse .navbar-nav:first-of-type {
    width: 100%;
}

header .navbar-nav span {
    margin-right: 20px;
}

.navbar-toggler,
.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

@media (max-width: 576px) {
    header nav .navbar-collapse .navbar-nav:last-of-type {
        margin-bottom: 15px;
    }
}

@media (min-width: 576px) {
    header .navbar-nav span {
        display: none;
    }
}
/* Header - End */

/* Main */

main {
    margin-top: 70px;
}

.features .feature {
    margin: 60px 0 0 0;
}

.features .feature section {
    border-radius: 10px;
    background: rgb(238,238,238);
    box-shadow:  10px 0px 10px #d3d3d35d,
                 3px 0px 10px #d3d3d334,
                 0px 5px 20px #d3d3d315,
                 0px -5px 20px #d3d3d315,
                 -10px 0 20px #d3d3d363,
                 inset -5px -30px 40px rgba(245, 245, 245, 0.7),
                 -10px 0px 35px rgba(255, 255, 255, 0.658);

    transform: translateX(30px);
    margin-left: -30px;

    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, .7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    transition-duration: 400ms;
    transition-property: box-shadow, border;
}

.features .feature:hover section {
    box-shadow:  5px 0px 5px #d3d3d35d,
                 1px 0px 5px #d3d3d334,
                 0px 3px 5px #d3d3d315,
                 0px -3px 10px #d3d3d315,
                 -10px 0 5px #d3d3d341,
                 inset -3px -15px 40px rgba(245, 245, 245, 0.4),
                 -5px 0px 35px rgba(255, 255, 255, 0.5);
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid rgba(255, 255, 255, .6);
}

.features .feature h1,
.features .feature p {
    transform-origin: 0;
    transform: rotateY(3deg);
    perspective: 100px;

    transition-duration: 400ms;
    transition-property: transform;
}

.features .feature:hover h1,
.features .feature:hover p {
    transform: rotateY(0deg);
    perspective: 100px;
}

.features .feature img {
    border: 15px solid rgb(236, 236, 236);
    /* transform: translateX(-30px); */
    position: relative;
    z-index: 99;
    display: block;
    border-radius: 37px;
    background: #f2f2f2;
    box-shadow: 5px 0px 10px #d3d3d327,
                0px -1px 0px #ffffff,
                5px -2px 10px #d3d3d393,
                5px 5px 10px rgb(224, 224, 224);

    transition-duration: 400ms;
    transition-property: box-shadow, transform;
}

.features .feature:hover img {
    box-shadow: 3px 0px 5px #d3d3d327,
                0px 0px 0px #ffffff,
                3px -1px 5px #d3d3d393,
                3px 3px 5px rgb(224, 224, 224);
    transform: scale3d(.995, .995, .995);
}

.features .feature h1 {
    font-weight: bolder;
    font-size: 3em;
    color: white;
    /* text-align: center; */
    letter-spacing: 3px;
}

.features .feature p {
    margin-right: 40px;
}

.presentations {
    margin: 50px 0 0 0;
}

.presentations > div{
    background-color: var(--bs-gray-dark);
    border-radius: 10px;
    /* color: white; */
    /* padding: 70px !important; */
}

.buttons > div {
    /* margin: 100px 0px 0px 0; */
    padding: 120px 0 100px 0px;
}


.envelope-button {
    width: 200px;
    border: 1px solid rgba(109, 71, 39, 0.205);    
    border-top: 0;
    height: 125px;
    overflow: hidden;

    box-sizing: border-box;
    /* background-color: blueviolet; */
    z-index: 0;

    background-image: url(./img/kraftreciclado_recortado.webp);
    background-position: center;

    box-shadow: inset 20px 0 10px rgba(134, 100, 36, 0.2);
    border-radius: 0px 0 5px 5px;
}

.envelope-button:hover {
    cursor: pointer;
}

.envelope-button > div {
    position: relative;
    box-sizing: border-box;
}

.envelope-button > div > div {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.envelope-button > div > div > div {
    box-sizing: border-box;
}

.envelope-button .envelope-top {
    /* border: 1px solid red; */
    position: absolute;
    height: 100px;
    width: inherit;
    box-sizing: border-box;
    transform: translateY(-100px) translateX(-1px) skew(0deg, 0deg);
    /* background-color: red; */
    z-index: -1;
    overflow: hidden;
}

.envelope-button .envelope-top > div {
    position: absolute;
    box-sizing: border-box;
    border-radius: 10px 0 0 0;
    background-color:yellowgreen;
    /* box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.308); */
    border: 1px solid rgba(109, 71, 39, 0.205);    

    width: 150px;
    height: 150px;

    transform: rotateZ(45deg) translateX(2px) translateY(5px) translateX(38px);

    background-image: url(./img/kraftreciclado_recortado.webp);
    background-position: center;
}

.envelope-button .envelope-left {
    position: absolute;
    top: 0;
    left: 0;

    width: 125px;
    height: 125px;

    box-shadow: -5px 7px 15px rgb(0, 0, 0);
    border: 1px solid rgba(109, 71, 39, 0.205);    
    border-radius: 0 10px 0 0;

    transform: rotateZ(45deg) translate3d(-50px, 50px, 10px) skew(-15deg, -12deg);
    transform-origin: center;

    background-image: url(./img/kraftreciclado_recortado.webp);
    background-position: center;
}

.envelope-button .envelope-right {
    position: absolute;
    top: 0;
    right: 0;

    width: 125px;
    height: 125px;

    box-shadow: 7px 5px 15px rgba(0, 0, 0, 0.308);
    border: 1px solid rgba(109, 71, 39, 0.205);
    border-radius: 0 0px 0 10px;
    background-color: rgb(11, 252, 171);

    transform: rotateZ(45deg) translate3d(50px, -50px, 10px) skew(-12deg, -15deg);
    transform-origin: center;

    background-image: url(./img/kraftreciclado_recortado.webp);
    background-position: center;
}

.envelope-button .envelope-bottom {
    position: absolute;
    top: 0;
    left: 0;

    width: 150px;
    height: 150px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.308);

    border: 1px solid rgba(109, 71, 39, 0.205);
    background-color: rgb(255, 228, 196);
    border-radius: 10px 0 0 0;
    transform: rotateZ(45deg) translate3d(60px, 25px, 0px) skew(-5deg, -5deg);
    background-image: url(./img/kraftreciclado_recortado.webp);
    background-position: center;
}

.envelope-button .envelope-content {
    position: absolute;
    width: inherit;
    box-sizing: border-box;
    height: 125px;

    padding: 10px;
    z-index: -1;

    transition-duration: 400ms;
    transform: translateY(-80px);
}

.envelope-button:hover .envelope-content {
    transform: translateY(-30px);
}

.envelope-button .envelope-content > div {
    display: grid;
    place-items: center;

    border: 1px solid rgba(109, 71, 39, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    font-family: sans-serif;
    /* text-transform: uppercase; */
    font-size: 1.4rem;
    /* background-color: white; */

    background-image: url(./img/papel-recortado.webp);
    background-color: white;
    background-position: center;

    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    transition-duration: 1s;
}

.envelope-button:hover .envelope-content > div {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0);
}

.envelope-button .envelope-content h3 {
    opacity: .8;
    font-weight: bolder;
}

.envelope-button:not(:last-of-type) {
    margin-right: 50px;
}

.envelope-button {
    margin: 80px 0 30px 0;
}

@media (max-width: 768px) {

    .call-us {
        justify-content: center;
    }
    .call-us > div {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0;
        padding: 0;
    }

    .call-us > div img {
        width: 300px;
    }

    .call-us > div > div {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .feature {
        flex-direction: column;
        align-items: center;
    }

    .buttons > div {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .presentations .presentation {
        align-items: center;
        flex-direction: column !important;
    }

    .presentations .presentation img {
        margin-bottom: 40px;
    }
}
/* Main - End */