.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
}
.embla__slide {
    flex: 0 0 200px;
    min-width: 0;
    /* margin: 0 20px; */
}

body {
    background-color: rgb(238, 238, 238);
    --title-color: rgb(34, 34, 34);
    --text-color: rgb(65, 65, 65);
    font-family: sans-serif;
}

/* Header */
header .navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:active,
.navbar-nav .nav-item .nav-link:focus,
.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
    background-color: var(--bs-gray-dark);
}

header .navbar-brand {
    font-size: 1rem;
}

header .navbar-toggler-icon i {
    color: white;
    font-size: 1.3em;
    width: auto;
    height: auto;
}

header nav .navbar-collapse .navbar-nav:first-of-type {
    width: 100%;
}

header .navbar-nav span {
    margin-right: 20px;
}

.navbar-toggler,
.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

@media (max-width: 576px) {
    header nav .navbar-collapse .navbar-nav:last-of-type {
        margin-bottom: 15px;
    }
}

@media (min-width: 576px) {
    header .navbar-nav span {
        display: none;
    }
}
/* Header - End */

/* Main */

main {
    margin-top: 70px;
}

.features .feature {
    margin: 60px 0 0 0;
}

.features .feature section {
    border-radius: 20px;
    background: rgb(238,238,238);
    box-shadow:  10px 0px 10px #d3d3d35d,
                 3px 0px 10px #d3d3d334,
                 0px 5px 20px #d3d3d315,
                 0px -5px 20px #d3d3d315,
                 -5px 0px 20px #00000015,
                 inset -5px -30px 40px rgba(245, 245, 245, 0.7),
                 -10px 0px 35px rgba(255, 255, 255, 0.658);

    transform: translateX(30px);
    margin-left: -30px;

    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, .7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    transition-duration: 400ms;
    transition-property: box-shadow, border;
}

.features .feature:hover section {
    box-shadow:  5px 0px 5px #d3d3d35d,
                 1px 0px 5px #d3d3d334,
                 0px 3px 5px #d3d3d315,
                 0px -3px 10px #d3d3d315,
                 -3px 0px 5px #00000015,
                 inset -3px -15px 40px rgba(245, 245, 245, 0.4),
                 -5px 0px 35px rgba(255, 255, 255, 0.5);
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid rgba(255, 255, 255, .6);
}

.features .feature h1,
.features .feature p {
    transform-origin: 0;
    transform: rotateY(3deg);
    perspective: 100px;

    transition-duration: 400ms;
    transition-property: transform;
}

.features .feature:hover h1,
.features .feature:hover p {
    transform: rotateY(0deg);
    perspective: 100px;
}

.features .feature img {
    border: 15px solid rgb(236, 236, 236);
    /* transform: translateX(-30px); */
    position: relative;
    z-index: 99;
    display: block;
    border-radius: 37px;
    background: #f2f2f2;
    box-shadow:  5px 0px 10px #d3d3d327,
                0px -1px 0px #ffffff,
                5px -2px 10px #d3d3d393,
                5px 5px 10px rgb(224, 224, 224);

    transition-duration: 400ms;
    transition-property: box-shadow, transform;
}

.features .feature:hover img {
    box-shadow: 3px 0px 5px #d3d3d327,
                0px 0px 0px #ffffff,
                3px -1px 5px #d3d3d393,
                3px 3px 5px rgb(224, 224, 224);
    transform: scale3d(.995, .995, .995);
}

.features .feature h1 {
    font-weight: bolder;
    font-size: 3em;
    color: white;
    text-align: center;
    letter-spacing: 3px;
}

.features .feature p {
    margin-right: 40px;
}

.presentations {
    margin: 50px 0 0 0;
}

.presentations > div{
    background-color: var(--bs-gray-dark);
    border-radius: 10px;
    /* color: white; */
    padding: 70px !important;
}

@media (max-width: 768px) {

    .call-us {
        justify-content: center;
    }
    .call-us > div {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0;
        padding: 0;
    }

    .call-us > div img {
        width: 300px;
    }

    .call-us > div > div {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .feature {
        flex-direction: column;
        align-items: center;
    }

    .buttons > div {
        flex-direction: column;
    }

    .buttons > div button {
        width: 100%;
        margin: 20px 0;
    }
}

@media (max-width: 576px) {
    .presentations .presentation {
        align-items: center;
        flex-direction: column !important;
    }

    .presentations .presentation img {
        margin-bottom: 40px;
    }
}
/* Main - End */